.header-bar {
	background-color: #1a4c6d;
	padding-top: 5px;
}

.header-bar img {
	max-height: 35px;

}

.right-header-bar {
	text-align: right;
}

.inline-element {
	display: inline-block;
}


.margin-element {
	margin: 15px;
}

#bottom-right {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom:10px;
	padding:10px;
	width:300px;
	height:200px;
	color: white;
	background-color: #1a4c6d;
	background-image: url("../img/batthern.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid black;
}